@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* font-family: "Open Sans", sans-serif; */

* {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

body {
  background-color: #000;
}

.container {
  max-width: 1461px;
  width: 100%;
  margin: 0 auto;
}

.container__large {
  max-width: 1751px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background-image: url(./../images/header/Background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 1573px;
  background-position: top center;
  padding-top: 64px;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1%;
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-list-item {
  border-bottom: 2px solid transparent;
}

.header__nav-list-item:hover {
  border-color: #fff;
}

.header__nav-list-item + .header__nav-list-item {
  margin-left: 50px;
}

.header__nav-list-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
}

.header__search {
  display: flex;
  align-items: center;
}

.header__search svg {
  opacity: 0.5;
}

.input {
  width: 100px;
  height: 23px;
  font-size: 17px;
  line-height: 23px;
  margin-left: 14px;
  outline: none;
  transition: width 0.4s ease-in-out;
  border-bottom: 1px solid transparent;
  padding: 0 4px;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input:hover,
.input:focus {
  border-color: rgba(255, 255, 255, 0.5);
}

.input:focus {
  width: 300px;
}

.header__info {
  display: flex;
  margin-top: 198px;
}

.header__text-info {
  margin-left: 400px;
}

.header__section-name,
.header__information-name,
.bromo__slider-name,
.culture__info-name {
  display: flex;
  align-items: center;
}

.header__section-name p,
.header__information-name p,
.bromo__slider-name p,
.culture__info-name p {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 6px;
  color: #ffc178;
  text-transform: uppercase;
  margin-left: 32px;
}

.header__section-line,
.header__information-line,
.bromo__slider-line,
.culture__info-line {
  display: block;
  width: 72px;
  height: 2px;
  background: #ffc178;
}

.header__title {
  font-size: 96px;
  font-weight: 700;
  line-height: 100px;
  margin-top: 32px;
}

.header__subtitle {
  font-size: 88px;
  line-height: 100px;
}

.header__scroll-text {
  display: block;
  margin: 125px auto 0;
  padding: 12px;
  font-weight: 600;
  font-size: 18px;
}

.header__media-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}

.header__media-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  writing-mode: vertical-rl;
}

.media-link {
  margin-top: 20px;
}

.header__information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 730px;
}

.header__information-info {
  max-width: 632px;
  width: 100%;
  margin-left: 32px;
}

.header__information-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 87px;
  margin-top: 27px;
}

.header__information-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  margin: 27px 0;
}

.header__information-more {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #fbd784;
}

.bromo {
  margin-top: 250px;
}

.bromo__slider {
  position: relative;
}

.bromo__slider-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bromo__slider-arrow {
  width: 112px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bromo__slider-arrow:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.bromo__slider-info {
  max-width: 1163px;
  width: 100%;
  text-align: center;
  padding-bottom: 42px;
}

.bromo__slider-name {
  justify-content: center;
}

.bromo__slider-name p {
  margin-right: 32px;
}

.bromo__slider-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 87px;
  margin-top: 24px;
}

.bromo__slider-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  margin: 27px 0 39px;
}
.bromo__slider-more {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #fbd784;
}

.culture {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 250px;
}

.culture__info {
  max-width: 632px;
  width: 100%;
  margin-right: 32px;
}

.culture__info-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 87px;
  margin-top: 27px;
}

.culture__info-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  margin: 27px 0;
}

.culture__info-more {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #fbd784;
}

.footer {
  margin-top: 250px;
  padding-bottom: 118px;
}

.footer__start {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 47px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer__start-logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1%;
}

.footer__start-action {
  display: flex;
  align-items: center;
}

.footer__start-text {
  font-size: 22px;
  line-height: 29px;
}

.footer__start-button {
  width: 239px;
  padding: 24px 0 23px;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  background-color: #ffa343;
  border-radius: 8px;
  margin-left: 56px;
}

.footer__start-button:hover {
  background-color: #f89832;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}

.footer__info-subscribe {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer__info-label {
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
}

.footer__info-action {
  display: flex;
  margin-top: 50px;
}

.footer__info-input {
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  padding: 25px 15px 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  flex-shrink: 1;
}

.footer__info-input:hover,
.footer__info-input:focus {
  border-color: rgba(255, 255, 255, 0.5);
}

.footer__info-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.footer__info-button {
  width: 70px;
  height: 70px;
  background-color: #ffa343;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex-shrink: 0;
}

.footer__info-button:hover {
  background-color: #f89832;
}

.footer__info-information {
  display: flex;
}

.footer__info-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__info-links + .footer__info-links {
  margin-left: 185px;
}

.footer__info-section {
  font-size: 20px;
  font-weight: 700;
  color: #ffd1a0;
}

.footer__info-item {
  font-size: 19px;
  margin-top: 20px;
  border-bottom: 2px solid transparent;
}

.footer__info-item:hover {
  border-color: #fff;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 101px;
}

.footer__contacts-link {
  font-size: 15px;
  line-height: 20px;
  border-bottom: 2px solid transparent;
}

.footer__contacts-link + .footer__contacts-link {
  margin-left: 60px;
}

.footer__contacts-link:hover {
  border-color: #fff;
}

.footer__contacts-social + .footer__contacts-social {
  margin-left: 52px;
}

.footer__copyright {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 156px;
}

@media (max-width: 1280px) {
  .header__information {
    flex-direction: column-reverse;
    max-width: 595px;
  }

  .bromo__slider-name {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .header__text-info {
    margin-left: 200px;
  }

  .header__information-info {
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 0;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .header__information-name {
    margin-top: 10px;
    gap: 20px;
    flex-direction: column-reverse;
  }
  .header__information-photo {
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
  }

  .culture {
    flex-direction: column;
    margin-top: 125px;
  }

  .culture__info {
    max-width: 578px;
    margin: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
  }
  .culture__photo {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
  }

  .culture__info-name {
    flex-direction: column-reverse;
    gap: 20px;
    margin-top: 10px;
  }
  .bromo {
    margin-top: 120px;
  }
  .footer {
    margin-top: 125px;
  }

  .footer__info {
    align-items: unset;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
  }
  .footer__info-information {
    justify-content: space-around;
  }
  .footer__info-subscribe {
    margin: 0 auto;
  }

  .footer__copyright {
    margin-top: 75px;
  }
}

@media (max-width: 900px) {
  .header {
    background-size: 100% 1073px;
    padding-top: 32px;
  }

  .header__information {
    margin-top: 230px;
  }

  .header__text-info {
    margin-left: 200px;
  }

  .bromo__slider-title {
    font-size: 32px;
    margin-top: 5px;
    line-height: 40px;
  }

  .footer__contacts {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .header__nav-list-item + .header__nav-list-item {
    margin-left: 25px;
  }

  .header__logo {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1%;
  }

  .input:focus {
    width: 100px;
  }

  .bromo__slider-text {
    font-size: 10px;
    line-height: 18px;
    margin: 10px 0 0;
  }

  .header__text-info {
    margin-left: 100px;
  }

  .footer {
    margin-top: 60px;
    padding-bottom: 60px;
  }

  .footer__info-information {
    flex-direction: column;
    margin: 0 auto;
    gap: 30px;
  }
  .footer__info-links + .footer__info-links {
    margin: 0;
  }
  .footer__info-links {
    align-items: center;
  }

  .footer__start {
    flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 580px) {
  .header__nav-list-link {
    font-size: 12px;
    font-weight: 600;
    line-height: 25px;
  }

  .header__scroll-text {
    margin: 0;
    margin-top: 100px;
  }

  .input {
    margin-left: 0;
    width: 65px;
  }

  .header__title {
    font-size: 45px;
    line-height: 50px;
  }

  .header__subtitle {
    font-size: 40px;
    line-height: 50px;
  }

  .bromo__slider-info {
    padding-bottom: 0;
  }

  .bromo__slider-name {
    background-color: transparent;
  }

  .footer {
    margin-top: 30px;
    padding-bottom: 30px;
  }

  .footer__start-button {
    margin: 0 auto;
  }

  .footer__contacts {
    flex-direction: column;
    gap: 20px;
  }

  .footer__start-action {
    flex-direction: column;
    gap: 20px;
  }

  .footer__contacts-social + .footer__contacts-social {
    margin-left: 22px;
  }
}
